html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #000;
    color: #fff
}

.cta-1 {
    border-radius: 1rem;
    border-style: none;
}

.cta-2 {
    color: #fff;
    background-color: #000;
    border-radius: 1rem;
    border: solid 1px #fff;
}

/* FONT-WEIGHT */
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}